@charset "utf-8";
html{
}
body{
}

/* header */
header{
    align-items: center;
    width: 100%;
    height: 100px;
    background:#186AC9;
}

a, tr, td, img{
  text-decoration:none;
  margin: 5px;
}

a{
  text-decoration: none;
}

#user_menu{
  display: flex;
  justify-content: flex-end;

}
/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.border-1{
  border: 3px solid #727272;
}

.acbox-under{
  text-decoration: none;
  text-align: center; /* 中央寄せ */
  display: block;
}

.user::before,
.user::after{
  position: absolute;
  content: '';
}
.user::before{
  transform: rotate(0deg);
}
.user::after{
  transform: rotate(180deg);
}
.box{
  display: none; /*はじめは非表示*/
  margin: 0;
  padding: 0;
}

/*dropdown-menu*/
.menu input {
  display: none; /*チェックボックスを隠す*/
}

/*バー部分*/
.menu p {
  width: auto;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 1;
  position: relative;
  padding: 10px;
  cursor :pointer;
  color: #fff;
}


.menu .links {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.15s;
}

.links a:hover {
  background:#000a9e;
}


.acbox label{
  width: auto;
  font-size: 15px; /* ラベルの文字サイズ */
  font-weight: bold;
  text-align: center;
  text-decoration:none;
  position: relative;
  display: block;
  padding:18px;
  cursor: pointer;
  color: #fff;
  z-index: 10;
}

.acbox input{
  display: none;
  z-index: 1;
}

.acbox label:after{
  color: #fff;
  content:"▼"; /* ラベルのアイコン */
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -14px;
}

.acbox input:checked ~ label::after {
  content:"▲"; /* ラベルをクリックした後のアイコン */
  display: block;
}

.acbox ul{
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 0.15s; /* 開閉スピードの設定 */
  z-index: 10;
}

.acbox input:checked ~ ul{
  height: auto;
  padding: 16px; /* 開いた部分の枠内の余白 */
  border-radius: 0px;
  background-color: #F3F4F5; /* 開いた部分の背景色 */
  opacity: 1;
  z-index: 10;
}

.acbox-under{
  color: #555555; /* 開いた部分の文字色 */
  z-index: 10;
}

/* ボタン */

.btn{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

.btn,
.btn p,
.btn a{
  color: #fff;
  text-decoration: none;
}

.btn,
.btn p:hover,
.btn a:hover {
  color: #fff;
  text-decoration: none;
}

.btn,
.btn-primary{
  margin: 0 0 0 auto;
  text-align: center;
}

.btn-primary{
  text-align: center;
}

.btn-post{
  display: flex;
  justify-content: flex-end;
}

.btn-post,
.post, .destroy{
  background:none;
  border:0;
}

.submit_btn{
  padding:0;
  margin: 0 0 0 auto;
  background:none;
  border:0;
  font-size:0;
  line-height:0;
  overflow:visible;
  cursor:pointer;
  text-align: right;
  display: flex;
}

.search_btn{
  background:none;
  border:0;
  font-size:0;
  line-height:0;
  overflow:visible;
  cursor:pointer;
}

.form-group {
  margin-bottom: 1rem;
  border: 0;
}

.form-group input{
}

.form-control{
  border:none;
  outline:none;
}

.post_created_at{
  text-align: right;
  text-decoration: none;
  color: #212529;
}

.post_post{
  font-size: 14px;
  padding: 0px 16px 0px 40px;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.content{
	margin: 0 auto;
}

.modal{
	display: none;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
  text-decoration:none;

}
.modal__bg{
	background: rgba(0,0,0,0.8);
	height: 100vh;
	position: absolute;
	width: 100%;
}
.modal__content{
	background: #fff;
	left: 50%;
	padding: 40px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
}
